.dashboard-main {
  flex: 1;
  padding: 30px;
  background-color: #f5f5f5;
  margin-left: 250px;
}

.orders-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.order-status {
  color: green;
  font-weight: bold;
}

.order-card {
  text-decoration: none;
  color: black;
}

.order-card:hover {
  transform: translateY(-2px);

  transition: 0.2s;
}