.dashboard-main {
  flex: 1;
  padding: 30px;
  background-color: #f4f4f4;
  margin-left: 250px;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
}

.dashboard-card {
  background-color: white;
  padding: 20px;
  width: 220px;
  border-radius: 8px;
}